# Compiled binaries
*.bin
*.elf
*.hex

# Arduino build folder
build/

# Arduino backups
*.bak
*.tmp

# macOS Finder files
.DS_Store

# Windows thumbs
Thumbs.db

# M5Burner ZIPs or package files
*.zip
FraudTagger_Cardputer.zip

# PlatformIO cache (if used)
.pio/
